$def with (room)

<h1 id="title">$room.name </h1>

<div id="left-side">
	<pre id="description">
	$room.description
	</pre>

$if room.name == 'death':
	<p><a href="/">Play Again?</a></p>
$else:
	<p id="options">Your Options:</p>
	<p id ="opt_list">$room.options()</p>
	<form action="/game" method="POST">
		<input type="text" name="action" id="action" placeholder="Type your move here"> <input type="Submit" value="Go" id="submit">
	</form>
</div>

<div id="picture">
<img src="/static/$room.pic" class="pic">
</div>

<div id="help">
<h3>Information:</h3>
$if room.output:
	<p id="output">$room.output</p>
$else:
	$pass